#header {
    display: flex;
    align-items: center;
}

.item-two {
    flex: 2;
}

.item-three, .item-four {
    flex: 0.25;
}

#header-img {
    height: 4em;
    width: 4em;
}

#game-container {
    height: 500px;
    width: 50%;
    background-color: grey;
    margin: 0 auto 0 auto;
}

#counter {
    text-align: center;
    font-size: 24px;
}
